<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PennyWatch.HomeModule.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PennyWatch.HomeModule.Settings>
            <setting name="RibbonTabViewName" serializeAs="String">
                <value>HomeModuleRibbonTabView</value>
            </setting>
            <setting name="WorkspaceViewName" serializeAs="String">
                <value>HomeModuleWorkspaceView</value>
            </setting>
        </PennyWatch.HomeModule.Settings>
    </applicationSettings>
</configuration>